################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp1/.vs/WinFormsApp1
/WinFormsApp1/.vs/ProjectEvaluation
/WinFormsApp2/.vs
